.top_section {
    position: static;
    inset: 0px;
    box-shadow: 0 1px 3px;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;  
}

.menu_wrapper{
    display: flex;
}

